/* styles.css */
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/reset-css/reset.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

body a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  padding-left: 0;
  white-space: nowrap;
}
button {
  border: none;
  background: none;
}
.hidden {
  display: none;
}

.sec-tt {
  text-align: center;
  margin: 50px 0;
  letter-spacing: 4px;
}
section {
  margin: 160px 0;
}

.see-more {
  text-align: right;
}
.see-more svg {
  vertical-align: text-bottom;
}

/* header */
.header {
  background: linear-gradient(
    180deg,
    rgba(14, 18, 42, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 37.05%,
    rgba(0, 0, 0, 0) 64.71%
  );
  text-align: center;
}

.header h1 {
  background: url(../public/images/logo.png) no-repeat center/cover;
  width: 61px;
  height: 62px;
  text-indent: -9999em;
  z-index: 10px;
  transition: 0.5s;
  display: inline-block;
  margin-top: 10px;
}

.header.sticky {
  position: sticky;
  top: 0;
  background: #000;
  z-index: 100;
}

.header.sticky .container {
  display: flex;
  justify-content: space-between;
}

.header.sticky h1 {
  width: 36px;
  height: 37px;
}

.header.sticky .menu > ul {
  margin-top: 0;
  line-height: 55px;
}

.header.sticky .submenu {
  line-height: 45px;
  background: rgba(0, 0, 0, 0.7);
}
.header.sticky .menu > ul > li {
  position: relative;
}
.header.sticky .menu > ul > li:hover .submenu {
  position: absolute;
  left: 0;
  transform: none;
}

.menu {
  text-align: center;
}

.menu ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  line-height: 45px;
}
/* .menu > ul {
  line-height: 45px;
} */
.menu li {
  padding: 0 15px;
}

.menu ul .submenu {
  /* position: absolute; */
  /* top: 100%; */
  display: none;
  /* left: 0; */
  transition: 0.5s;
  /* width: 100vw; */
}

.menu > ul > li:hover .submenu {
  position: absolute;
  /* top: 100%; */
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

@media (max-width: 480px) {
  .menu li {
    padding: 0 7px;
  }
}
.home-img {
  background: url(../public/images/home-001.jpg) no-repeat center/cover;
  height: 80vh;
  width: 100%;
  position: relative;
  top: -120px;
  z-index: -1;
}
/* header end */

/* information */
.sec1 {
  margin: -50px auto 0;
  /* background: #000; */
}
.sec1 h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.sec1 p {
  margin-bottom: 4px;
}
.reservation.btns {
  font-size: 20px;
  padding: 10px 20px;
  position: relative;
  display: inline-block;
  border: 1px solid #000;
  background: #fff;
  transition: 0.3s;
}
.reservation.btns:hover {
  background: #000000;
  color: #ffffff;
}
.reservation::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  right: -5px;
  z-index: -100;
  border-right: 4px solid #000000;
  border-bottom: 4px solid #000000;
  transition: 0.3s;
}
.reservation:hover::after {
  top: 0;
  right: 0;
}

.info img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.info h3 {
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.operating {
  border-top: 1px solid #000;
  padding-top: 4px;
  height: 60px;
}
.info p {
  font-size: 14px;
  white-space: normal;
  margin-bottom: 0;
  position: relative;
  /* height: 24px; */
}
.info p > span {
  position: absolute;
  right: 0;
}
.event-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.event-tag a {
  font-size: 13px;
  line-height: 24px;
  display: inline-block;
  padding: 0 8px;
  /* border-radius: 20px; */
  border: 1px solid #000;
  transition: 0.3s;
  /* color: #fff; */
  /* background: #000; */
}
.event-tag a:hover {
  color: #fff;
  background: #000;
}

@media (max-width: 768px) {
  .info {
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .sec1 .container {
    flex-direction: column;
    gap: 20px;
  }
  .reservation.btns {
    font-size: 16px;
  }
}
/* information end */

/* exhibition */
.swiper-slide img {
  width: 100%;
  object-fit: contain;
  transition: 0.4s;
}
.swiper-slide {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.swiper-slide:hover img {
  filter: blur(7px);
}
.swiper-slide:hover .ex-info {
  opacity: 1;
}

.ex-info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
  padding: 20px 16px;
}

.ex-info p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
}
.ex-info h4 {
  font-size: 28px;
  font-weight: 200;
  width: 150px;
}
.ex-info h3 {
  font-size: max(1.4rem, min(2vw, 2rem)); /*32*/
  /* font-size: 32px; */
  font-style: normal;
  font-weight: 600;
}
.ex-info a {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  font-size: max(0.8rem, min(2vw, 1.4rem));
  line-height: 55px;
  width: 85%;
  border: 1px solid #fff;
  padding: 0 10px;
  position: relative;
  background: transparent;
  transition: 0.3s;
}
.ex-info a:hover {
  background: #fff;
  color: #1a1a1a;
}
.ex-info a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5px;
  right: -5px;
  z-index: -100;
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transition: 0.3s;
}
.ex-info a:hover::after {
  top: 0;
  right: 0;
}
.ex-info a:hover svg path {
  stroke: #1a1a1a;
}

.ex-info a svg {
  margin-bottom: 10px;
}

.tab-btns {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;
  margin-bottom: 40px;
}
.tab-btns button {
  color: #969696;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 4px;
  padding: 10px 0;
}
.tab-btns button.active {
  color: #000000;
  font-weight: 700;
  border-bottom: 3px solid #000;
}

.slide {
  position: relative;
}
.nav-btns {
  position: absolute;
  top: calc(100% + 16px);
  right: 0;
  display: flex;
  gap: 10px;
}
.pagination2 {
  /* position: absolute;
  top: calc(100% + 16px); */
  /* right: 0; */
  width: 50px;
  height: 24px;
}
.swiper-pagination-fraction {
  width: 55px !important;
  display: flex;
  justify-content: center;
  gap: 4px;
}
.nav-btns button {
  border: none;
  width: 24px;
  height: 6px;
  margin-top: 6px;
  /* background: transparent; */
}

.next-btn {
  background: url(/public/images/next.png) no-repeat center/cover;
  /* background-size: 50% auto; */
  /* background-position: center; */
}

.prev-btn {
  background: url(/public/images/prev.png) no-repeat center/cover;
}

@media (max-width: 768px) {
  .ex-info h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
  }
  .ex-info a {
    font-size: 20px;
  }
}
/* exhibition end */

/* collection */
.sec4.container {
  width: 1600px;
}
.coll-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.sec .col {
  flex: 0 0;
}
.coll-box {
  min-width: 300px;
}
.coll-box h3 {
  font-size: 14px;
  font-weight: 500;
  margin: 16px 0 4px;
}
.coll-box p {
  font-size: 13px;
}
.coll-bg p {
  position: absolute;
  color: #767676;
  right: 10px;
  top: 6px;
}
.coll-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 300px;
  background: #f9f9f9;
  transition: 0.4s;
}
.coll-bg img {
  max-width: 270px;
  height: 80%;
  object-fit: contain;
}

.coll-bg:hover {
  background: #f4f4f4;
}
/* collection end*/

/* digitalgallery */
.sec5 .col-md-4 {
  height: 100%;
}
.digital-gallery embed {
  width: 100%;
  object-fit: cover;
  min-height: 232px;
  /* height: 80%; */
}
.sec5 h3 {
  font-size: 20px;
  margin: 8px 0 4px;
}
.gall-desc span:first-child {
  margin-right: 20px;
}
.gall-desc span {
  color: #575757;
  font-size: 14px;
}

@media (max-width: 480px) {
  .sec5 .col-md-4 {
    /* margin-bottom: 200px; */
    /* height: 500px; */
  }
}

/* digitalgallery end */

/* news letter */
.news-box {
  position: relative;
}
.news-bg {
  border-top: 3px solid #000;
  padding-top: 24px;
}
.news-box h3 {
  width: 65%;
  height: 100px;
  font-size: 18px;
  font-weight: 500;
  /* margin-bottom: 50px; */
}
.news-box p {
  width: 80%;
  font-size: 14px;
}
.news-info {
  height: 260px;
}
.news-box img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 768px) {
  .news-box {
    margin-bottom: 30px;
  }
}
@media (max-width: 480px) {
  .news-box {
    width: 80%;
    margin: 0 auto 30px;
  }
  .news-box h3 {
    width: 90%;
    height: 75px;
  }

  .news-info {
    height: 200px;
  }
}
/* news letter end */

/* footer */
footer {
  background: #000;
  padding: 40px 0 5px;
  font-size: 13px;
  color: #f3f3f3;
}
footer h3 {
  font-size: 18px;
}
footer .logo {
  width: 83px;
  height: 84px;
  text-indent: -9999rem;
  background: url(/public/images/f-logo.png) no-repeat center/cover;
}
footer p {
  text-align: center;
}

.top-btn {
  width: 45px;
  height: 45px;
  line-height: 38px;
  z-index: 100;
  text-align: center;
  border-radius: 50%;
  background: #57575787;
  color: #f3f3f3;
  position: fixed;
  right: 5vw;
  bottom: 150px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.top-btn.visible {
  opacity: 1;
  visibility: visible;
}
/* flex-xs-column flex-sm-row */

@media (max-width: 480px) {
  footer .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .top-btn {
    bottom: 60px;
  }
}

/* popup */
.popup {
  position: fixed;
  z-index: 1000;
  width: 410px;
  height: 385px;
  background: #0d1321e3;
  color: #fff;
  text-align: left;
  left: 20px;
  top: 20px;
}

.popup * {
  margin-bottom: 0;
}

.popup-info {
  padding: 16px 20px;
}

.popup-info h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 4px;
}

.popup-info h3 {
  font-size: 20px;
  margin: 40px 0 20px;
}

.popup-info p,
.popup-info ul {
  font-size: 14px;
}

.popup-info ul {
  margin-top: 12px;
}

.popup a,
.cookie-btn {
  text-decoration: underline;
}

.popup-btns {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.popup-btns button {
  color: #fff;
}

.popup hr {
  border: 1.5px solid #fff;
}
@media (max-width: 480px) {
  .popup-info p,
  .popup-info ul {
    font-size: 13px;
    width: 410px;
  }
  .popup {
    width: 390px;
  }
}
